body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

p{
    color: #252525;
    
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}




.maps-frame{
  width:100%
}



#header-grid { grid-area: header; }
#main-grid { grid-area: main; }
#footer-grid { grid-area: footer; }


#grid-container{
  display: grid;
  grid-template-columns:repeat(3,1);
  grid-template-areas:
  "header header header "
  "main main main "
  "footer footer footer ";

}













header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px 20px;
}

.logo {
    max-height: 80px; 
    
}

.navigation {
    display: flex;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    text-decoration:none;
    color:grey;
    font-weight: bold;
    margin-left: 20px;
}

/* Styling for hover effect on navigation links */
.nav-item:hover,
.nav-item.active {
    color: #000;
    
}

.nav-item.active {
    text-decoration: underline;
    color: #000;
    text-decoration:underline  #e6bd43  3px;
}

.nav-item.contact{
    color: #000;
    background-color: #e6bd43;
    text-decoration: none;
    position: relative;
    padding: 8px;
    
    border: 5px solid #e6bd43 ;
}



.nav-item.contact:hover,
.nav-item.contact:active{
    background-color: #000;
    color: #e6bd43;
    border: 5px solid #000 ;

}


.content-section {
    position: relative;
    
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 300px;
    padding: 40px;
    justify-content: center;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
 

  

  .read-more-button{
    background-color:#e6bd43 ;
    border: 10px solid #e6bd43 ;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: black;
    width: max-content;
    padding: 6px;
    
  }
    
  .read-more-button:hover{

    background-color: #000;
    color: #e6bd43;
    border: 10px solid #000 ;


  }

.enganging-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 70px ;
    
    
}



.mobile-image {
    display: none;
  }
  


.company-section{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
    align-items: center;
    background-color: #e6bd43;
    
    
    
}


.company-image{
   max-width: 100%;
   height: auto;
}

.about-us-content{
    flex: 1;
    display: flex;
  flex-wrap: wrap;

    
    
}


 




.read-more-about-us-button{
    background: white;
    color:black;
    border: 3px solid #000 ;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
  }
    
  .read-more-about-us-button:hover{
    background-color:#000 ;
    border: 3px solid #000 ;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    color: #e6bd43;
  }

  
  .our-service-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 70px;
    margin-top: 100px;
    align-items: center;
  }

  

 .our-service-section h2{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
 }
 .article-container{
  display: flex;
  gap: 50px;
  text-align: center;
  margin-top: 30px;
  align-items: center;
  
 
 }

 
  

 .newsletter-section{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color:rgb(221, 220, 220) ;
  
  padding: 30px;
 }

 .newsletter-section h2{
  font-size: 30px;
 }

 .newsletter-form{
  padding: 20px;
  
 }

 input[type=email] {
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  color: #252525;
}
  
.sign-me-up-button{
  padding: 10px;
  margin: 8px 0;
  border: 1px solid  #e6bd43;
  background-color:#e6bd43 ;
  color: #000;
  font-weight: bold;
  text-decoration: none;


}


  
.sign-me-up-button:hover{
  background-color:#000 ;
  border: 2.5px solid #000 ;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  color: #e6bd43;
}


footer{
  display: flex;
  justify-content:space-between;
  padding: 30px;
  align-items: center;
  background-color:#000 ; 
  height: 150px;
}





.footer-img{
  max-height: 80px; 
}

.logo-footer,
.copy-right,
.social-media-section {
    flex: 1;
}

.logo-footer {
  text-align: left; 
}

.copy-right {
  text-align: center; 
}

.social-media-section {
  text-align: right; 
}





.fa{
  background-color: white;
  padding: 6px;
  text-align: center;
    
}
.social-media-icon {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: #333; /* Endre fargen etter dine preferanser */
  text-decoration: none;
}

#backToTopBtn {
  
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 13px;
  cursor: pointer;
  font-size: 16px;
  transition: opacity 0.3s ease-in-out;
}
.mobile-image-portfolio{

   position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
       object-fit: cover;
        z-index: -1;
        opacity: 0.5;
        
}


body.scroll-top #backToTopBtn {
  opacity: 0;
}

body.scroll-top #backToTopBtn:hover {
  background-color: #007bff;
  opacity: 1;
}

.sections-container{
  padding-left: 30px;
  padding-right: 30px;
}


.underline{
  color: #e6bd43;
  position: relative;
  bottom: 0;
  border: none;
  width: 100%;
  height: 3px;
  background-color: #e6bd43;
  
}







.categories-section{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  flex-wrap: wrap;
  
 
  
}

.categories-section a{
  margin-right: 10px;
  
  

}

.explore-buttons{
  border: 2px solid black;
  background-color: #fff;
  cursor: pointer;
color:#252525 ;
padding: 10px;
font-size: 20px;
margin-left: 10px;
margin-bottom: 20px;
text-decoration: none;




}

.explore-buttons:hover{
  background-color:#000 ;
  color: #e6bd43;
  align-items: center;
  
}

.branding-imgs{
  display: flex;
  flex-direction:row ;
  
  flex-wrap: wrap;
}



.branding-image{
  max-width: 350px;
  min-width: 200px;
  margin-bottom: 10px;
}





.mobile-image-about-us{
  position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
       object-fit: cover;
        z-index: -1;
        opacity: 1;
}


.content-section-about{
  position: relative;
    
  overflow: hidden;
  display: flex;
  flex-flow: column;
  
  text-align: center;
  height: 201px;
  padding: 127px;
  justify-content: center;
}
.about-us-company {
  position: relative;
  overflow: unset;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: start;
  background-color: white;
  width: 50%;
  left: 50%;
  text-align: start;
  opacity: 0.9;
  flex-direction: column;
}




.our-main-clients{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e6bd43;
  padding:20px;
}

.clients-img-section{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
}

.clients-img-section img{
  max-height: 80px;
}
.contact-container{
  background-color: rgb(221, 220, 220);
  
  
  gap: 70px;
  justify-content: center;
  
  
}


.message-section{
  width: 38%;
  
  
  
}

.contact-info{
  width: 48%;
}
.message-section label {
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
}






.coantact-about-us{
 
  text-align: center;
 
}

   .contact-container {
    background-color: #f2f2f2;
    padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;

}


.contact-about-us {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-info {
    font-size: 14px;
}

.info-text {
    margin-bottom: 10px;
}

.info-link {
   
    text-decoration: none;
}

.message-section {
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
}

.form-submit {
    background-color:#e6bd43;
    color: black;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 110px;
    font-weight: bold;
    box-sizing: border-box;

}

.form-submit:hover {
  background-color: #000;
  color: #e6bd43;

}



.massage-contact{
display: flex;
justify-content: space-between;
 
}

.branding-fig {
  transition: transform 0.3s ease-in-out;
}

.branding-fig:hover {
  transform: scale(1.1);
}

.branding-image {
  width: 100%;
  height: auto;
}



/* Hide the skip link by default */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #000;
  color: #fff;
  padding: 8px;
  text-decoration: none;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Make the skip link visible when it receives focus */
.skip-link:focus {
  opacity: 1;
  top: 0;
}



/* Media Query for ipad */
@media only screen
  and (max-width: 1024px) {

    .article-container{
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
      

    }

    
   
    
    
    
  
}


/* Media Query for Mobile  */
@media screen and (max-width: 768px) {
  #grid-container{
    display: grid;
    grid-template-columns:1fr;
    grid-template-areas:
  "header "
  "main"
  "footer ";
    
  }
  
    header {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        margin-bottom: 10px; 
    }

    .navigation {
        margin-top: 10px; 
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        
    
        
        
        
    }

    .nav-item {
        margin: 0px; 
        
    }

    
    .nav-list li {
        margin-bottom: 10px; 
    }


    .background-video {
        display: none;
      }
    
      .mobile-image {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
       object-fit: cover;
        z-index: -1;
        opacity: 0.5;
      }

      .read-more-button{
        color: black;
      }
      .content-section {
        display: flex;
        height: 250px;
        padding-bottom: 70px;
        padding-top: 10px;
      }



      .company-section{
        flex-direction: column;
        text-align: center;
      }


     

      footer{
        display: flex;
       
       flex-direction: column;
       align-items: center;
      
        padding-bottom: 100px;
      }

    .logo-footer,
    .copy-right,
    .social-media-section {
        width: 100%; 
        text-align: center;
        margin-bottom: 10px; 
    }
      
    
        
    .content-section-about{
      padding: 0px 50px 20px 30px;
      
      height: auto;
      overflow: visible;
      display:block ;
  
    }
    
    .video-sectionen{
      margin-bottom: 50px;
    }

    .about-us-company {
      width: auto;
      text-align: center;
      left: 0;
      margin-right: 30px;
     
    margin-left: 30px;
      
    }

    .nav-item.active{
      text-decoration: none;

    }

    .nav-item.contact{
      color: #000;
      background-color: #e6bd43;
      text-decoration: none;
      padding: 3px;
      
    }
    .nav-item.contact:hover{
      color: #000;
      background-color: #e6bd43;
      text-decoration: none;
      border: 5px solid #e6bd43;


    }

    .message-section{
      width: 100%;
    }

    .contact-container{
      flex-direction: column;
    }

    .contact-info{
      width: 100%;
      margin-bottom: 40px;
    }


    .massage-contact{
       flex-flow: column;
      }
      


      .read-more-button:hover{
        background-color:#e6bd43 ;
        color: #000;
        border: 10px solid #e6bd43;
      }

      .read-more-about-us-button:hover{
        background-color: #fff;
        border: 3px solid black;
        cursor: pointer;
        font-weight: bold;
        text-align: center;
        color: #000;
      }

      .sign-me-up-button:hover {
        background-color: #e6bd43;
        border: 1px solid #e6bd43;
        cursor: pointer;
        font-weight: bold;
        text-align: center;
        color: black;

    }

    .about-us-content{
      display: block;
    }

    .newsletter-section{
      align-items: center;
    }
    .newsletter-form{
      display: flex;
  flex-direction: column;
  width: fit-content;
    }
    .branding-imgs{
      max-width:692px;
    }

  }
